recursive-include savReaderWriter/cWriterow *.*
recursive-include savReaderWriter/documentation *.*
recursive-include savReaderWriter/doc_tests *.*
recursive-include savReaderWriter/spssio *.*
include VERSION
include TODO
include COPYRIGHT
global-exclude *.pyc *.*~
prune .git
